.full-screen {
  padding: 8rem 0;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.animated-item {
  font-size: 40px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
  min-width: 70vw;
  color: #ffc200;
}

.animated-item:nth-child(2n + 2) {
  animation-delay: 2s;
}

.animated-item:nth-child(3n + 3) {
  animation-delay: 4s;
}

@media (min-width: 700px) {
  .full-screen {
    padding-bottom: 4rem;
  }

  .about-image {
    margin-top: 4em;
    text-align: center;
  }

  .animated-info {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .about-text h1, .animated-item {
    font-size: 1.8rem;
  }
}

@media (max-width: 580px) {
  .about-image {
    margin-top: 4em;
    text-align: center;
  }

  .about-text h1, .animated-item {
    font-size: 1.7rem;
  }
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
