p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b,
strong {
  font-weight: bold;
}

em {
  font-style: normal;
  font-weight: 550;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.arrow-icons {
  --fa-secondary-opacity: 0.1;
  --fa-primary-color: #363636;
  --fa-secondary-color: #363636;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 2em;
  }
}
